/*Google Fonts: Oswald, Roberto*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*CSS Variables*/
:root {
    --primary-font: 'Roberto', sans-serif;
    --secondary-font: 'Oswald', sans-serif;
    --primary-color: #1a1a60;
    /*Dark blue*/
    --secondary-color: #ffffff;
    /*White*/
    --highlight-color: #f742b8;
    /*Neon Pink*/
    --last-highlight-color: #20d0ec;
    /*Light blue*/


/* Main content */
main {
    /* Make main element take up surplus space to push footer down */
    flex: 1 0 auto;
    /*Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
}

/* Hero section */
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/hero-image.png") no-repeat center center/cover;
    position: relative;
}

.hero-text {
    color: white;
    font-size: 250%;
    position: absolute;
    bottom: 40px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}