/*Google Fonts: Oswald, Roberto*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*CSS Variables*/
:root {
    --primary-font: 'Roberto', sans-serif;
    --secondary-font: 'Oswald', sans-serif;
    --primary-color: #080d19;
    /*Dark blue*/
    --secondary-color: #ffffff;
    /*White*/
    --highlight-color: #f742b8;
    /*Neon Pink*/
    --last-highlight-color: #20d0ec;
    /*Light blue*/
}

/*Global Styles*/
h1,
h2,h3 {
    font-family: var(--secondary-font);
    color: var(--highlight-color)
}

h5 {
    font-family: var(--secondary-font);
}

p {
    font-family: var(--primary-font);
}

/*Navbar Styling*/
.navbar-custom {
    background-color: var(--primary-color);
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar-nav .nav-item .nav-link:hover {
    color: var(--highlight-color) !important;
    border-radius: 10px;
    text-decoration: underline;
}

.navbar-nav .nav-item {
    margin-right: 30px;
    font-size: 1.1rem;
    font-family: var(--primary-font);
}

.nav-item,
.nav-link,
.dropdown,
.dropdown-item,
.active {
    font-family: var(--primary-font);
    color: var(--last-highlight-color) !important;
    font-size: 1.2rem;
}

.navbar-toggler {
    background-color: var(--last-highlight-color) !important;
}

.dropdown-menu {
    background-color: var(--primary-color) !important;
}
.dropdown-menu:hover {
    color: var(--highlight-color) !important;
}
.dropdown-item {
    text-transform: uppercase;
}


.dropdown-item:hover {
    color: var(--highlight-color) !important;
}


/* Main content */
main {
    /* Make main element take up surplus space to push footer down */
    flex: 1 0 auto;
    /*Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
}

/* Hero section */

.hero {
    height: 800px;
    width: 100%;
    background: linear-gradient(rgba(33, 30, 30, 0.342), rgba(0, 0, 0, 0.342)), url("../images/hero-image.alt.webp") no-repeat center center/cover;
    position: relative;
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
}

.hero-text {
    font-family: var(--secondary-font);
    color: white;
    position: relative;
    text-align: center;
    width: 40%;
    min-height: 200px;
    padding-top: 40px;
    padding-bottom: 20px;
}

.hero-text h1 {
    font-size: 5rem;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

/*About Section*/
#what-is-spiking {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 5%;
    text-align: center;
}

.description-text-container .row {
    display: flex;
    align-items: center;
}

.description-text-container i {font-size:50%;}
.video-container {
    position: relative;
    flex:2;
    padding-bottom: 56.25%;
    /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
/*Symptoms section*/
#what-are-the-symptoms {
    background-color:var(--primary-color); 
        color: var(--secondary-color);
        padding: 5%;
    }

/*What to do in a spiking incident*/
#what-to-do-if-you-suspect-spiking {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 5% 5%;
}
/*Card Styling applies to both symptoms and spiking incident sections */
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    max-width: 100%;
    width:100%;
   
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height:100%;
}
/*Card border styling when hovered over */
.card:hover {
    box-shadow: 0 0 10px var(--highlight-color);
    border: 5px outset var(--last-highlight-color);
}

/*Footer Section*/
footer {
    display:flex;
    background-color: var(--primary-color);
    color: var(--last-highlight-color);
    padding: 20px;
    text-align: center;
}

footer a {
    color: var(--last-highlight-color);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
.social-networks {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.social-networks i {font-size: 2rem}

/*Contact Us button styling*/
    .btn-footer {
        background-color: var(--primary-color);
        color: var(--last-highlight-color);
        border: 2px solid var(--last-highlight-color);
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 1.2rem;
        cursor: pointer;
        transition: background-color 0.3s ease, color 0.3s ease;
    }
    
    .btn-footer:hover {
        background-color: var(--highlight-color);
        color: var(--secondary-color) !important;
    }
    
   









/* Media Queries for Responsiveness */

/* Large devices (desktops, 1200px and up) */
@media (min-width: 1200px) {
    .hero {
        height: 800px;
    }

    .hero-text h1 {
        font-size: 5rem;
    }

    .hero-text p {
        font-size: 1.5rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 1199.98px) {
    .hero {
        height: 600px;
    }

    .hero-text {
        width: 60%;
    }

    .hero-text h1 {
        font-size: 4rem;
    }

    .hero-text p {
        font-size: 1.25rem;
    }
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .hero {
        height: 500px;
    }

    .hero-text {
        width: 80%;
    }

    .hero-text h1 {
        font-size: 3rem;
    }

    .hero-text p {
        font-size: 1.25rem;
    }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .hero {
        height: 400px;
    }

    .hero-text {
        width: 90%;
    }

    .hero-text h1 {
        font-size: 2.5rem;
    }

    .hero-text p {
        font-size: 1rem;
    }
}