/*Google Fonts: Oswald, Roberto*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*CSS Variables*/
:root {
    --primary-font: 'Roberto', sans-serif;
    --secondary-font: 'Oswald', sans-serif;
    --primary-color: #1a1a60;
    /*Dark blue*/
    --secondary-color: #ffffff;
    /*White*/
    --highlight-color: #f742b8;
    /*Neon Pink*/
    --last-highlight-color: #20d0ec;
    /*Light blue*/
}

/* Main content */
main {
    /* Make main element take up surplus space to push footer down */
    flex: 1 0 auto;
    /*Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
}

/* Hero section */

.hero {
    height: 800px;
    width: 100%;
    background: linear-gradient(rgba(33, 30, 30, 0.342), rgba(0, 0, 0, 0.342)), url("../images/hero-image.alt.webp") no-repeat center center/cover;
    position: relative;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;
}

.hero-text {
    font-family: var(--secondary-font);
    color: white;
    position: relative;
    text-align: center;
    width: 40%;
    min-height: 200px;
    padding-top: 40px;
    padding-bottom: 20px;
    }
    .hero-text h1 {
        font-size: 5rem;
        margin-bottom: 20px;
    }
    .hero-text p {
        font-size: 1.5rem;
        margin-bottom: 20px;
    }



  








